
@{
    ViewBag.Title = "Education";
}

<h2>
    <center><u> Educational Qualification</u></center>
</h2>

<center>
    <table border="3" width="1000">
        <tr>
            <th>Examination Passed </th>
            <th>Name Of Institution</th>
            <th>Board/university</th>
            <th>Year of Passing </th>
            <th>CGPA/GPA</th>

        </tr>
        <tr align="center">
            <td>B.Sc in Computer Science & Engineering </td>
            <td> American International University-Bangladesh </td>
            <td> AIUB </td>
            <td> Enrolled</td>
            <td> Current CGPA:3.9 (Out of 4.00) </td>
        </tr>
        <tr align="center">
            <td>Higher Secondary School Certificate(HSC) </td>
            <td>Rajshahi College</td>
            <td>Rajshahi</td>
            <td> 2016 </td>
            <td> GPA:5.00 (out of 5.00) </td>
        </tr>
        <tr align="center">
            <td>Secondary School Certificate(SSC) </td>
            <td> Panka High School </td>
            <td> Rajshahi</td>
            <td> 2014 </td>
            <td>GPA:5.00 (out of 5.00)</td>
        </tr>
    </table>
</center>