
@{
    ViewBag.Title = "Objectives";
}

<h2> MD.Mortuja Morshed</h2>
<h4>Email:mortujaaiub@gmail.com</h4>
<h4>Address:Motijheel,Dhaka,Bangladesh</h4>
<h4>Contact No: +8801784866522</h4>
<h1>___________________________________________________________________________________<h2>
        <center><u> Overview </u></center>
    </h2>
    <center>I am a person with positive attitude, self-confidence, quick learner, punctual, honest who works whole-heartedly in each & every activity taken up & hereby achieves excellence. I consider myself to be a work-oriented person having assets of intellectual knowledge, sociability, creative, pro-active, efficient, hardworking, and self-motivated & flavor to do work in any atmosphere</center>

    <h2>
        <center><u> Career Objective </u></center>
    </h2>
    <center>
         Want to work with intelligent and organized people. Enjoy handling big problematic situations. Possess unique thinking capability to examine the problem from completely different angles. Want to work in a challenging environment where the strong sense of responsibility and commitment requires.
    </center>

    