
@{
    ViewBag.Title = "PersonalInfo";
}

<h2><center><u> Personal Information </u> </center></h2>

<center>
    <!-- <div> -->
    <!-- <ul> -->
    <h3>
        <li><b>Name:</b> Md.Mortuja Morshed </li>
        <li><b> Father's Name:</b>Md.Golam Murshid </li>
        <li><b> Mother's Name:</b>Mst.Parvin Akther </li>
        <li> <b>Date Of Birth :</b> 31-12-1998</li>
        <li><b> Hometown :</b>Rajshahi</li>
        <li><b> Religion :</b> Islam </li>
        <li><b> Marital Status :</b> Unmarried </li>
        <li><b> Nationality :</b> Bangladeshi </li>
        <!--    </ul> -->
        <!-- </div> -->
    </h3>
</center>