
@{
    ViewBag.Title = "Project";
}

<h2>
    <center><u> Projects</u></center>
</h2>
<center>
    <li>Airline management system (Database) </li>
    <li>Food Court Management Application (Java) </li>
    <li>Inventory Management System (C#)</li>
    <li>Area Measurement systems (C/C++)</li>
    <li>Airline management system (OOAD)</li>
    <li>Smart Village (Computer graphics)</li>
    <li>Online Medicine and Healthcare( Html,CSS,JavaScript,Php&Json)</li>
</center>

