
@{
    ViewBag.Title = "Reference";
}

<h2><center><u>  Reference </u> </center></h2>
<center>
    <h4>
        Dr.Dip Nandi
    </h4>
    <div>Associate Professor and Head (Undergraduate Program),</div>
    <div>Department of Computer Science,</div>
    <div>American International University-Bangladesh University- Bangladesh</div>
    <div>E-mail: dip.nandi@aiub.edu </div>
    <div>Cell: +88 02 8816173-4 </div>
</center>